name: vader

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          github_token: ${{ secrets.github_token }}
    - name: Set up Vader tests
      run: |
        # Set up test files for vader
        echo "${{ secrets.REPOMAN_TOKEN }}" > .github.repoman
        echo "${GITHUB_REF##*/}" > .branch.repoman

        # Install vader
        git clone https://github.com/junegunn/vader.vim.git
        vim -Nu <(cat << VIMRC
        set rtp+=vader.vim
        set rtp+=.
        VIMRC) -c 'Vader! test/*' > /dev/null
